body {
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  margin: auto;
}

a {
  color: "#2b4570";
}

input {
  width: 75%;
  height: 25px;
}

select {
  width: 75%;
  height: 25px;
}

.container {
  margin: 50px 50px;
}
