body {
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  margin: auto;
}

a {
  color: "#2b4570";
}

input {
  width: 75%;
  height: 25px;
}

select {
  width: 75%;
  height: 25px;
}

.landing-page {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.landing-text {
  width: 50%;
  text-align: left;
}

.user-input {
}

.login {
}

.signup {
}
